<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/header") %>
        <main>
            <h2 class="subtitle is-2">Tracks</h2>

            <a href="/dashboard">DASHBOARD</a>

               <h3 class="title is-3"><%= track.text %></h3>

            <% } %>
            <form action="/tracks/<%= track._id %>?_method=PUT" method="post">    
                <input class="input" type="text" name="text" placeholder="new track" value="<%= track.text %>"
                <input class="button" type="submit" value="edit track" />
            </form>

            <form action="/tracks/<%= track._id %>?_method=delete" method="post">    
                <input class="button" type="submit" value="Delete track" />
            </form>


        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>