<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/header") %>
        <main>
            <h2 class="subtitle is-2">Artists</h2>
            <a href="/dashboard">DASHBOARD</a>

            <% for (artist of artists) { %>

                <a href="/artists/<%= artist._id %>"><h3><%= artist.text %></h3></a>

            <% } %>
            <form action="/artists/" method="post">    
                <input class="input" type="text" name="text" placeholder="new artist" />
                <input class="button" type="submit" value="create artist" />
            </form>


        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>